In [80]:
import pandas as pd 
import numpy as np 
from io import StringIO
import requests



pd.set_option('display.max_columns', None)
url='https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/counties/totals/co-est2019-alldata.csv'
s=requests.get(url).text

data1 = pd.read_csv(StringIO(s))



    
url1='https://www2.census.gov/programs-surveys/popest/datasets/2010-2019/state/detail/SCPRC-EST2019-18+POP-RES.csv?#'
s1 = requests.get(url1).text
data2 = pd.read_csv(StringIO(s1))

In [81]:
%pwd

'/Users/garbamoussa/Desktop/Python_ML/Datathon_MIT'

In [82]:
%cd /Users/garbamoussa/Desktop/Python_ML/Datathon_MIT

/Users/garbamoussa/Desktop/Python_ML/Datathon_MIT

In [83]:
data1.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017,POPESTIMATE2018,POPESTIMATE2019,NPOPCHG_2010,NPOPCHG_2011,NPOPCHG_2012,NPOPCHG_2013,NPOPCHG_2014,NPOPCHG_2015,NPOPCHG_2016,NPOPCHG_2017,NPOPCHG_2018,NPOPCHG_2019,BIRTHS2010,BIRTHS2011,BIRTHS2012,BIRTHS2013,BIRTHS2014,BIRTHS2015,BIRTHS2016,BIRTHS2017,BIRTHS2018,BIRTHS2019,DEATHS2010,DEATHS2011,DEATHS2012,DEATHS2013,DEATHS2014,DEATHS2015,DEATHS2016,DEATHS2017,DEATHS2018,DEATHS2019,NATURALINC2010,NATURALINC2011,NATURALINC2012,NATURALINC2013,NATURALINC2014,NATURALINC2015,NATURALINC2016,NATURALINC2017,NATURALINC2018,NATURALINC2019,INTERNATIONALMIG2010,INTERNATIONALMIG2011,INTERNATIONALMIG2012,INTERNATIONALMIG2013,INTERNATIONALMIG2014,INTERNATIONALMIG2015,INTERNATIONALMIG2016,INTERNATIONALMIG2017,INTERNATIONALMIG2018,INTERNATIONALMIG2019,DOMESTICMIG2010,DOMESTICMIG2011,DOMESTICMIG2012,DOMESTICMIG2013,DOMESTICMIG2014,DOMESTICMIG2015,DOMESTICMIG2016,DOMESTICMIG2017,DOMESTICMIG2018,DOMESTICMIG2019,NETMIG2010,NETMIG2011,NETMIG2012,NETMIG2013,NETMIG2014,NETMIG2015,NETMIG2016,NETMIG2017,NETMIG2018,NETMIG2019,RESIDUAL2010,RESIDUAL2011,RESIDUAL2012,RESIDUAL2013,RESIDUAL2014,RESIDUAL2015,RESIDUAL2016,RESIDUAL2017,RESIDUAL2018,RESIDUAL2019,GQESTIMATESBASE2010,GQESTIMATES2010,GQESTIMATES2011,GQESTIMATES2012,GQESTIMATES2013,GQESTIMATES2014,GQESTIMATES2015,GQESTIMATES2016,GQESTIMATES2017,GQESTIMATES2018,GQESTIMATES2019,RBIRTH2011,RBIRTH2012,RBIRTH2013,RBIRTH2014,RBIRTH2015,RBIRTH2016,RBIRTH2017,RBIRTH2018,RBIRTH2019,RDEATH2011,RDEATH2012,RDEATH2013,RDEATH2014,RDEATH2015,RDEATH2016,RDEATH2017,RDEATH2018,RDEATH2019,RNATURALINC2011,RNATURALINC2012,RNATURALINC2013,RNATURALINC2014,RNATURALINC2015,RNATURALINC2016,RNATURALINC2017,RNATURALINC2018,RNATURALINC2019,RINTERNATIONALMIG2011,RINTERNATIONALMIG2012,RINTERNATIONALMIG2013,RINTERNATIONALMIG2014,RINTERNATIONALMIG2015,RINTERNATIONALMIG2016,RINTERNATIONALMIG2017,RINTERNATIONALMIG2018,RINTERNATIONALMIG2019,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RDOMESTICMIG2016,RDOMESTICMIG2017,RDOMESTICMIG2018,RDOMESTICMIG2019,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015,RNETMIG2016,RNETMIG2017,RNETMIG2018,RNETMIG2019
0,40,3,6,1,0,Alabama,Alabama,4779736,4780125,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185,5312,13632,16519,14493,11718,10548,11178,10961,13195,15504,14226,59690,59067,57929,58903,59647,59389,58961,58271,57313,11075,48833,48366,50851,49712,51876,51710,53195,53665,53879,3151,10857,10701,7078,9191,7771,7679,5766,4606,3434,924,4665,5817,5046,3684,4580,5777,3011,3379,2772,1244,-1893,-114,2297,-959,-1544,-2157,2298,5279,9387,2168,2772,5703,7343,2725,3036,3620,5309,8658,12159,-7,3,115,72,-198,-259,-121,-114,-69,-89,116185,116246,115180,115793,116932,119032,119972,118619,117094,116576,116625,12.455519,12.286866,12.011401,12.180259,12.305777,12.225151,12.109454,11.938128,11.707442,10.189988,10.060889,10.543800,10.279697,10.702542,10.644438,10.925229,10.994485,11.005972,2.265531,2.225976,1.467602,1.900561,1.603236,1.580712,1.184225,0.943643,0.701470,0.973446,1.210028,1.046273,0.761796,0.944900,1.189188,0.618401,0.692264,0.566242,-0.395013,-0.023714,0.476276,-0.198307,-0.318543,-0.444016,0.471965,1.081522,1.917501,0.578434,1.186314,1.522549,0.563489,0.626357,0.745172,1.090366,1.773786,2.483744
1,50,3,6,1,1,Alabama,Autauga County,54571,54597,54773,55227,54954,54727,54893,54864,55243,55390,55533,55869,176,454,-273,-227,166,-29,379,147,143,336,150,638,615,571,640,651,666,676,631,624,157,514,560,582,573,584,547,573,518,541,-7,124,55,-11,67,67,119,103,113,83,25,4,-14,12,7,13,-3,-12,-7,-16,147,327,-329,-226,101,-107,266,59,37,270,172,331,-343,-214,108,-94,263,47,30,254,11,-1,15,-2,-9,-2,-3,-3,0,-1,455,455,455,455,455,455,455,455,455,455,455,11.600000,11.163449,10.412013,11.676701,11.862569,12.097324,12.220585,11.377262,11.202671,9.345455,10.165092,10.612595,10.454297,10.641690,9.935790,10.358573,9.339812,9.712572,2.254545,0.998357,-0.200582,1.222405,1.220879,2.161534,1.862012,2.037449,1.490099,0.072727,-0.254127,0.218816,0.127714,0.236887,-0.054492,-0.216933,-0.126214,-0.287248,5.945455,-5.971992,-4.121042,1.842729,-1.949762,4.831664,1.066590,0.667129,4.847310,6.018182,-6.226119,-3.902226,1.970443,-1.712875,4.777171,0.849656,0.540916,4.560062
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183112,186558,190145,194885,199183,202939,207601,212521,217855,223234,847,3446,3587,4740,4298,3756,4662,4920,5334,5379,516,2189,2093,2160,2212,2257,2300,2300,2310,2304,533,1829,1885,1900,1987,2098,2022,2099,2312,2326,-17,360,208,260,225,159,278,201,-2,-22,36,177,239,204,113,131,180,86,97,80,782,2899,3055,4176,3864,3433,4188,4619,5224,5297,818,3076,3294,4380,3977,3564,4368,4705,5321,5377,46,10,85,100,96,33,16,14,15,24,2307,2307,2263,2240,2296,2331,2337,2275,2193,2170,2170,11.842995,11.112202,11.219905,11.226489,11.225449,11.204755,10.949200,10.734799,10.446871,9.895312,10.007884,9.869361,10.084554,10.434644,9.850441,9.992336,10.744094,10.546624,1.947683,1.104318,1.350544,1.141935,0.790805,1.354314,0.956865,-0.009294,-0.099753,0.957611,1.268904,1.059658,0.573505,0.651544,0.876894,0.409405,0.450769,0.362739,15.684259,16.219674,21.691816,19.610829,17.074420,20.402397,21.988851,24.276447,24.017829,16.641870,17.488579,22.751474,20.184334,17.725964,21.279291,22.398256,24.727215,24.380567
3,50,3,6,1,5,Alabama,Barbour County,27457,27455,27327,27341,27169,26937,26755,26283,25806,25157,24872,24686,-128,14,-172,-232,-182,-472,-477,-649,-285,-186,71,331,300,282,264,271,276,280,263,256,131,323,286,295,308,332,280,295,329,312,-60,8,14,-13,-44,-61,-4,-15,-66,-56,-1,-5,-12,-10,4,13,17,12,12,13,-69,13,-176,-210,-142,-430,-492,-649,-231,-141,-70,8,-188,-220,-138,-417,-475,-637,-219,-128,2,-2,2,1,0,6,2,3,0,-2,3193,3193,3380,3390,3388,3352,3193,2975,2817,2813,2812,12.109461,11.007155,10.423983,9.833867,10.219088,10.597247,10.988364,10.513902,10.331329,11.816785,10.493487,10.904521,11.472845,12.519326,10.750830,11.577026,13.152372,12.591307,0.292676,0.513667,-0.480538,-1.638978,-2.300238,-0.153583,-0.588662,-2.638470,-2.259978,-0.182922,-0.440286,-0.369645,0.148998,0.490215,0.652729,0.470930,0.479722,0.524638,0.475598,-6.457531,-7.762540,-5.289429,-16.214789,-18.890745,-25.469458,-9.234644,-5.690302,0.292676,-6.897817,-8.132185,-5.140431,-15.724575,-18.238016,-24.998528,-8.754922,-5.165664
4,50,3,6,1,7,Alabama,Bibb County,22915,22915,22870,22745,22667,22521,22553,22566,22586,22550,22367,22394,-45,-125,-78,-146,32,13,20,-36,-183,27,44,264,246,258,253,251,276,291,232,240,32,276,236,275,247,265,241,252,263,252,12,-12,10,-17,6,-14,35,39,-31,-12,0,10,19,20,14,13,14,10,10,10,-59,-124,-105,-151,16,17,-30,-83,-164,31,-59,-114,-86,-131,30,30,-16,-73,-154,41,2,1,-2,2,-4,-3,1,-2,2,-2,2224,2224,2224,2228,2224,2245,2255,2204,2150,2146,2148,11.575140,10.834141,11.418961,11.225984,11.126133,12.225372,12.894364,10.330165,10.723621,12.101282,10.393729,12.171373,10.959755,11.746714,10.675053,11.166253,11.710488,11.259802,-0.526143,0.440412,-0.752412,0.266229,-0.620581,1.550319,1.728111,-1.380324,-0.536181,0.438452,0.836783,0.885191,0.621201,0.576254,0.620128,0.443105,0.445266,0.446818,-5.436808,-4.624328,-6.683190,0.709944,0.753563,-1.328845,-3.677774,-7.302358,1.385134,-4.998356,-3.787545,-5.797999,1.331144,1.329817,-0.708717,-3.234669,-6.857092,1.831952

In [84]:
data2.head()

,SUMLEV,REGION,DIVISION,STATE,NAME,POPESTIMATE2019,POPEST18PLUS2019,PCNT_POPEST18PLUS
0,10,0,0,0,United States,328239523,255200373,77.7
1,40,3,6,1,Alabama,4903185,3814879,77.8
2,40,4,9,2,Alaska,731545,551562,75.4
3,40,4,8,4,Arizona,7278717,5638481,77.5
4,40,3,7,5,Arkansas,3017804,2317649,76.8

In [85]:
#County_level_pop.head()

In [35]:
data1.shape

(3193, 164)

'SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME','POPESTIMATE2019'
{'NPOPCHG_2019', 'BIRTHS2019', 'DEATHS2019', 'NATURALINC2019', 'INTERNATIONALMIG2019', 'DOMESTICMIG2019''NETMIG2019', 'RESIDUAL2019', 'GQESTIMATES2019', 
'RDEATH2019', 'RNATURALINC2019', 'RINTERNATIONALMIG2019', 'RNETMIG2019'}

In [95]:
County_level_pop = data1[['SUMLEV', 'REGION', 'DIVISION', 'STATE', 'COUNTY', 'STNAME', 'CTYNAME','POPESTIMATE2019']]

In [96]:
County_level_pop.head()

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,POPESTIMATE2019
0,40,3,6,1,0,Alabama,Alabama,4903185
1,50,3,6,1,1,Alabama,Autauga County,55869
2,50,3,6,1,3,Alabama,Baldwin County,223234
3,50,3,6,1,5,Alabama,Barbour County,24686
4,50,3,6,1,7,Alabama,Bibb County,22394

In [97]:
STNAME_STATE = County_level_pop[['STNAME','STATE']]

In [88]:
County_level_pop.shape

(3193, 8)

In [73]:
County_level_pop.to_csv('County_level_total.csv', index=False, sep=',')

In [26]:
#%cd /Users/garbamoussa/Desktop/Python_ML/Datathon_MIT/safegraph_open_census_data

In [42]:
%ls

data/     geometry/ metadata/

In [43]:
#%cd safegraph_open_census_data/

In [44]:
%ls

data/     geometry/ metadata/

In [45]:
%cd /Users/garbamoussa/Desktop/Python_ML/Datathon_MIT/safegraph_open_census_data/data

/Users/garbamoussa/Desktop/Python_ML/Datathon_MIT/safegraph_open_census_data/data

In [47]:
%ls

cbg_b00.csv       cbg_b09.csv       cbg_b20.csv       cbg_b99.csv
cbg_b01.csv       cbg_b11.csv       cbg_b21.csv       cbg_c16.csv
cbg_b02.csv       cbg_b12.csv       cbg_b22.csv       cbg_c17.csv
cbg_b03.csv       cbg_b14.csv       cbg_b23.csv       cbg_c24.csv
cbg_b07.csv       cbg_b15.csv       cbg_b25.csv       cbg_patterns.csv
cbg_b08.csv       cbg_b19.csv       cbg_b27.csv

In [51]:
cbg_b00 = pd.read_csv('cbg_b00.csv')

cbg_b27  = pd.read_csv('cbg_b27.csv')
cbg_patterns  = pd.read_csv('cbg_patterns.csv')

In [54]:
%cd ..

/Users/garbamoussa/Desktop/Python_ML/Datathon_MIT/safegraph_open_census_data

In [55]:
%ls

data/     geometry/ metadata/

In [56]:
%cd metadata

/Users/garbamoussa/Desktop/Python_ML/Datathon_MIT/safegraph_open_census_data/metadata

In [30]:
%ls

County_level_total.csv
Datathon.ipynb
Datathon1.ipynb
Safegraph-Starbucks-Demo - Databricks.html
data_county_age_race.csv
safegraph_open_census_data/
uscities.csv*
uszips.csv*

In [89]:
import pandas as pd 
pd.set_option('display.max_columns', None)
uscities   = pd.read_csv('uscities.csv')
uszips    = pd.read_csv('uszips.csv')
data_county_age_race   = pd.read_csv('data_county_age_race.csv')
data_county_age_race['state'] = data_county_age_race['geo_id'] // np.power(10, np.log10(data_county_age_race['geo_id']).astype(int) - 1)

In [92]:
County_pop = data_county_age_race[['geo_id','state', 'total_pop', 'households', 'male_pop', 'female_pop', 'median_age', 'male_65_to_66', 'male_67_to_69', 
'male_70_to_74', 'male_75_to_79', 'male_85_and_over',  'female_65_to_66', 'female_67_to_69', 'female_70_to_74', 'female_75_to_79',
'female_80_to_84', 'female_85_and_over', 'white_pop', 'not_us_citizen_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'amerindian_pop', 'other_race_pop', 
'median_income', 'income_per_capita', 'income_less_10000', 'income_50000_59999', 'income_100000_124999', 'income_200000_or_more', 'poverty', 'gini_index', 
'nonfamily_households', 'family_households','male_male_households', 'female_female_households','high_school_diploma', 'masters_degree', 'less_one_year_college',
'one_year_more_college', 'employed_education_health_social', 'speak_only_english_at_home']]

In [98]:
County_pop

,geo_id,state,total_pop,households,male_pop,female_pop,median_age,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_85_and_over,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,median_income,income_per_capita,income_less_10000,income_50000_59999,income_100000_124999,income_200000_or_more,poverty,gini_index,nonfamily_households,family_households,male_male_households,female_female_households,high_school_diploma,masters_degree,less_one_year_college,one_year_more_college,employed_education_health_social,speak_only_english_at_home
0,35039,35,39307,12398,19250,20057,40.6,504,717,815,462,347,747,680,710,577,642,458,4910,895.0,164,185,28046,5594,181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5092,7306,11,44,7199,1319,2772,4650,NaN,NaN
1,72001,72,18181,5861,8862,9319,40.9,283,375,248,277,142,218,341,411,273,262,213,52,NaN,0,0,18123,6,0,12902.0,7126.0,2423.0,166.0,23.0,5.0,11325.0,0.5259,1667,4194,0,0,3013,288,190,1488,1196.0,NaN
2,72049,72,1314,475,676,638,42.8,17,6,37,34,16,16,23,29,40,7,27,97,NaN,0,0,1211,6,0,23802.0,11830.0,92.0,26.0,0.0,0.0,541.0,0.4175,219,256,6,0,342,26,0,74,126.0,NaN
3,72147,72,8771,2470,4332,4439,43.6,257,66,177,145,30,22,191,325,140,44,254,498,NaN,0,0,8247,0,0,15539.0,11156.0,712.0,44.0,31.0,0.0,3600.0,0.4542,1120,1350,0,0,2227,168,25,462,383.0,NaN
4,72071,72,42420,15012,20629,21791,41.6,405,690,1075,688,401,442,677,1309,609,669,617,394,NaN,98,0,41825,0,103,16748.0,9228.0,4715.0,706.0,104.0,54.0,23156.0,0.4976,4336,10676,20,0,8447,1674,129,3248,2707.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3215,8031,80,693417,294358,347188,346229,34.4,5614,7507,8567,5619,3419,6002,8526,10819,7074,5220,6923,372710,68429.0,62617,25698,209859,3359,1455,63793.0,41196.0,20529.0,23858.0,25422.0,26278.0,93728.0,0.4958,151260,143098,1805,862,67058,62780,20305,63619,79650.0,NaN
3216,34017,34,668631,255429,332268,336363,35.1,4959,6086,8200,5676,3193,5796,8106,10445,8454,5621,6484,192905,149869.0,72198,99277,288749,874,3323,66289.0,38147.0,19382.0,16390.0,22409.0,28395.0,107718.0,0.5049,96655,158774,1042,519,111692,54064,15780,47131,66535.0,NaN
3217,24510,24,614700,238436,288691,326009,35.1,5310,6770,8237,5345,3210,7092,8953,11030,8274,6375,6730,169285,29775.0,380636,15862,31503,1353,2219,48840.0,29700.0,27518.0,19226.0,17068.0,12603.0,128829.0,0.5130,116478,121958,521,585,106016,41805,21809,59084,88531.0,NaN
3218,12086,12,2715516,870051,1318627,1396889,39.7,23424,32004,44504,33803,20346,29247,40299,56787,43191,36317,41151,365131,623211.0,436864,41372,1845646,2321,7370,48982.0,26838.0,82208.0,65277.0,61538.0,51014.0,482656.0,0.5249,274959,595092,1947,1169,482742,127672,80448,219171,260772.0,NaN
3219,36047,36,2600747,950856,1231912,1368835,35.1,22222,28302,33005,24964,14825,28320,36438,44570,35110,27416,32137,940759,379268.0,787705,304870,499279,3667,11136,56015.0,31984.0,88547.0,59846.0,76171.0,79217.0,544622.0,0.5273,365432,585424,2887,1982,384657,193369,56752,181314,346248.0,NaN

In [99]:
County_pop.to_csv('County_pop.csv', index=False, sep=',')

In [77]:
uscities.shape

(28889, 19)

In [41]:
uszips.head(3)

,zip,lat,lng,city,state_id,state_name,zcta,parent_zcta,population,density,county_fips,county_name,county_weights,county_names_all,county_fips_all,imprecise,military,timezone
0,601,18.18004,-66.75218,Adjuntas,PR,Puerto Rico,True,NaN,17242,111.4,72001,Adjuntas,"{'72001':99.43,'72141':0.57}",Adjuntas|Utuado,72001|72141,False,False,America/Puerto_Rico
1,602,18.36073,-67.17517,Aguada,PR,Puerto Rico,True,NaN,38442,523.5,72003,Aguada,{'72003':100},Aguada,72003,False,False,America/Puerto_Rico
2,603,18.45439,-67.12202,Aguadilla,PR,Puerto Rico,True,NaN,48814,667.9,72005,Aguadilla,{'72005':100},Aguadilla,72005,False,False,America/Puerto_Rico

In [42]:
data_county_age_race.head(3)

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,median_income,income_per_capita,income_less_10000,income_10000_14999,income_15000_19999,income_20000_24999,income_25000_29999,income_30000_34999,income_35000_39999,income_40000_44999,income_45000_49999,income_50000_59999,income_60000_74999,income_75000_99999,income_100000_124999,income_125000_149999,income_150000_199999,income_200000_or_more,pop_determined_poverty_status,poverty,gini_index,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,percent_income_spent_on_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english
0,35039,2014-01-01,39307,12398,19250,20057,40.6,1224,1240,1278,846,488,381,182,602,1172,1116,971,1231,1147,1300,1225,504,717,815,462,424,347,1404,1309,1237,780,528,194,186,781,1123,1140,1291,887,1182,1312,1494,512,883,747,680,710,577,642,458,4910,NaN,37681,NaN,NaN,NaN,26647,NaN,NaN,NaN,NaN,NaN,NaN,895.0,164,185,28046,5594,181,222,28046,11261,8,19,0,27,1778,1933,320,523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20044,621.0,102000.0,164800.0,272900.0,12398,2850,7646,370,362,11225,238,362,195,125,1,61,5,7770,98,187,778,1980,4867,5092,7306,NaN,11,44,9318,3358,444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9548,110,3153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,654,2305,3336,7199,2772,1319,4650,NaN,NaN,NaN,NaN,NaN,NaN,359,480,280,228,389,1860,1654,5250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2170,1985,1970,9260,1653,NaN,NaN,NaN
1,72001,2014-01-01,18181,5861,8862,9319,40.9,443,479,659,388,183,92,106,509,583,514,476,524,572,618,694,283,375,248,277,187,142,440,594,530,375,246,103,165,315,573,569,532,599,613,649,571,322,405,218,341,411,273,262,213,52,NaN,17702,NaN,NaN,14771.0,12554,9324.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,18123,6,0,0,18123,58,0,0,5,11,1165,1204,25,0,12902.0,7126.0,2423.0,923.0,557.0,298.0,368.0,278.0,331.0,155.0,129.0,166.0,140.0,46.0,23.0,0.0,19.0,5.0,18125.0,11325.0,0.5259,7594,363.0,50400.0,85200.0,125500.0,5861,2670,1733,61,26,6244,794,67,154,174,99,16,17,29,73,73,145,1982,2464,1667,4194,3122.0,0,0,3908,1810,281.0,30.6,1570.0,325.0,125.0,7.0,106.0,105.0,136.0,134.0,134.0,28.0,3191,0,566,NaN,NaN,1071.0,444.0,254.0,190.0,0.0,0.0,627.0,182.0,182.0,562.0,448.0,613.0,236.0,23.0,609.0,293.0,517.0,382.0,3683.0,145.0,70.0,159.0,1031.0,2925.0,1381.0,361.0,163.0,NaN,0.0,0.0,3494.0,170.0,0.0,3324.0,77,923,1864,3013,190,288,1488,NaN,NaN,NaN,1912.0,NaN,NaN,93,233,41,521,397,846,263,2394,3795.0,2370.0,6165.0,8606.0,3753.0,0.0,6165.0,227.0,364.0,225.0,1196.0,110.0,19.0,265.0,148.0,497.0,375.0,173.0,174.0,22.0,1299.0,373.0,515.0,710.0,898.0,1299.0,710.0,823,943,998,4406,1017,NaN,NaN,NaN
2,72049,2014-01-01,1314,475,676,638,42.8,38,48,41,28,10,0,0,22,60,53,20,31,18,78,13,17,6,37,34,35,16,18,39,42,11,6,8,18,10,85,65,21,21,39,28,46,14,25,16,23,29,40,7,27,97,NaN,1291,NaN,NaN,1077.0,975,688.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1211,6,0,0,1211,103,3,0,0,8,96,78,0,6,23802.0,11830.0,92.0,87.0,31.0,39.0,18.0,67.0,36.0,23.0,14.0,26.0,19.0,23.0,0.0,0.0,0.0,0.0,1291.0,541.0,0.4175,1541,497.0,70600.0,113500.0,237500.0,475,173,1066,256,29,914,245,38,234,28,4,52,0,26,9,55,15,1995,138,219,256,158.0,6,0,265,85,428.0,26.3,69.0,15.0,9.0,8.0,8.0,16.0,13.0,9.0,26.0,0.0,302,8,16,NaN,NaN,66.0,7.0,0.0,7.0,0.0,0.0,59.0,13.0,13.0,148.0,299.0,39.0,40.0,0.0,17.0,0.0,9.0,0.0,552.0,93.0,36.0,66.0,120.0,216.0,112.0,4.0,23.0,NaN,0.0,0.0,450.0,118.0,0.0,332.0,0,101,113,342,0,26,74,NaN,NaN,NaN,86.0,NaN,NaN,11,9,0,55,29,67,9,180,588.0,5.0,593.0,484.0,588.0,0.0,593.0,0.0,121.0,61.0,126.0,43.0,0.0,0.0,31.0,96.0,12.0,47.0,51.0,0.0,151.0,86.0,76.0,90.0,185.0,151.0,90.0,72,81,52,271,18,NaN,NaN,NaN

In [43]:
['geo_id','state', 'total_pop', 'households', 'male_pop', 'female_pop', 'median_age', 'male_65_to_66', 'male_67_to_69', 
'male_70_to_74', 'male_75_to_79', 'male_85_and_over',  'female_65_to_66', 'female_67_to_69', 'female_70_to_74', 'female_75_to_79',
'female_80_to_84', 'female_85_and_over', 'white_pop', 'not_us_citizen_pop', 'black_pop', 'asian_pop', 'hispanic_pop', 'amerindian_pop', 'other_race_pop', 
'median_income', 'income_per_capita', 'income_less_10000', 'income_50000_59999', 'income_100000_124999', 'income_200000_or_more', 'poverty', 'gini_index', 
'nonfamily_households', 'family_households','male_male_households', 'female_female_households','high_school_diploma', 'masters_degree', 'less_one_year_college',
'one_year_more_college', 'employed_education_health_social', 'speak_only_english_at_home']

['geo_id',
 'state',
 'total_pop',
 'households',
 'male_pop',
 'female_pop',
 'median_age',
 'male_65_to_66',
 'male_67_to_69',
 'male_70_to_74',
 'male_75_to_79',
 'male_85_and_over',
 'female_65_to_66',
 'female_67_to_69',
 'female_70_to_74',
 'female_75_to_79',
 'female_80_to_84',
 'female_85_and_over',
 'white_pop',
 'not_us_citizen_pop',
 'black_pop',
 'asian_pop',
 'hispanic_pop',
 'amerindian_pop',
 'other_race_pop',
 'median_income',
 'income_per_capita',
 'income_less_10000',
 'income_50000_59999',
 'income_100000_124999',
 'income_200000_or_more',
 'poverty',
 'gini_index',
 'nonfamily_households',
 'family_households',
 'male_male_households',
 'female_female_households',
 'high_school_diploma',
 'masters_degree',
 'less_one_year_college',
 'one_year_more_college',
 'employed_education_health_social',
 'speak_only_english_at_home']

 The geo_id column is a combination of the state and county FIPs codes.  
         The first two digits are the state.  
         The last three digits are the county.

In [44]:
data_county_age_race['state'] = data_county_age_race['geo_id'] // np.power(10, np.log10(data_county_age_race['geo_id']).astype(int) - 1)

In [45]:
data_county_age_race.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,median_income,income_per_capita,income_less_10000,income_10000_14999,income_15000_19999,income_20000_24999,income_25000_29999,income_30000_34999,income_35000_39999,income_40000_44999,income_45000_49999,income_50000_59999,income_60000_74999,income_75000_99999,income_100000_124999,income_125000_149999,income_150000_199999,income_200000_or_more,pop_determined_poverty_status,poverty,gini_index,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,percent_income_spent_on_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,state
0,35039,2014-01-01,39307,12398,19250,20057,40.6,1224,1240,1278,846,488,381,182,602,1172,1116,971,1231,1147,1300,1225,504,717,815,462,424,347,1404,1309,1237,780,528,194,186,781,1123,1140,1291,887,1182,1312,1494,512,883,747,680,710,577,642,458,4910,NaN,37681,NaN,NaN,NaN,26647,NaN,NaN,NaN,NaN,NaN,NaN,895.0,164,185,28046,5594,181,222,28046,11261,8,19,0,27,1778,1933,320,523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20044,621.0,102000.0,164800.0,272900.0,12398,2850,7646,370,362,11225,238,362,195,125,1,61,5,7770,98,187,778,1980,4867,5092,7306,NaN,11,44,9318,3358,444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9548,110,3153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,654,2305,3336,7199,2772,1319,4650,NaN,NaN,NaN,NaN,NaN,NaN,359,480,280,228,389,1860,1654,5250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2170,1985,1970,9260,1653,NaN,NaN,NaN,35
1,72001,2014-01-01,18181,5861,8862,9319,40.9,443,479,659,388,183,92,106,509,583,514,476,524,572,618,694,283,375,248,277,187,142,440,594,530,375,246,103,165,315,573,569,532,599,613,649,571,322,405,218,341,411,273,262,213,52,NaN,17702,NaN,NaN,14771.0,12554,9324.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,18123,6,0,0,18123,58,0,0,5,11,1165,1204,25,0,12902.0,7126.0,2423.0,923.0,557.0,298.0,368.0,278.0,331.0,155.0,129.0,166.0,140.0,46.0,23.0,0.0,19.0,5.0,18125.0,11325.0,0.5259,7594,363.0,50400.0,85200.0,125500.0,5861,2670,1733,61,26,6244,794,67,154,174,99,16,17,29,73,73,145,1982,2464,1667,4194,3122.0,0,0,3908,1810,281.0,30.6,1570.0,325.0,125.0,7.0,106.0,105.0,136.0,134.0,134.0,28.0,3191,0,566,NaN,NaN,1071.0,444.0,254.0,190.0,0.0,0.0,627.0,182.0,182.0,562.0,448.0,613.0,236.0,23.0,609.0,293.0,517.0,382.0,3683.0,145.0,70.0,159.0,1031.0,2925.0,1381.0,361.0,163.0,NaN,0.0,0.0,3494.0,170.0,0.0,3324.0,77,923,1864,3013,190,288,1488,NaN,NaN,NaN,1912.0,NaN,NaN,93,233,41,521,397,846,263,2394,3795.0,2370.0,6165.0,8606.0,3753.0,0.0,6165.0,227.0,364.0,225.0,1196.0,110.0,19.0,265.0,148.0,497.0,375.0,173.0,174.0,22.0,1299.0,373.0,515.0,710.0,898.0,1299.0,710.0,823,943,998,4406,1017,NaN,NaN,NaN,72
2,72049,2014-01-01,1314,475,676,638,42.8,38,48,41,28,10,0,0,22,60,53,20,31,18,78,13,17,6,37,34,35,16,18,39,42,11,6,8,18,10,85,65,21,21,39,28,46,14,25,16,23,29,40,7,27,97,NaN,1291,NaN,NaN,1077.0,975,688.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1211,6,0,0,1211,103,3,0,0,8,96,78,0,6,23802.0,11830.0,92.0,87.0,31.0,39.0,18.0,67.0,36.0,23.0,14.0,26.0,19.0,23.0,0.0,0.0,0.0,0.0,1291.0,541.0,0.4175,1541,497.0,70600.0,113500.0,237500.0,475,173,1066,256,29,914,245,38,234,28,4,52,0,26,9,55,15,1995,138,219,256,158.0,6,0,265,85,428.0,26.3,69.0,15.0,9.0,8.0,8.0,16.0,13.0,9.0,26.0,0.0,302,8,16,NaN,NaN,66.0,7.0,0.0,7.0,0.0,0.0,59.0,13.0,13.0,148.0,299.0,39.0,40.0,0.0,17.0,0.0,9.0,0.0,552.0,93.0,36.0,66.0,120.0,216.0,112.0,4.0,23.0,NaN,0.0,0.0,450.0,118.0,0.0,332.0,0,101,113,342,0,26,74,NaN,NaN,NaN,86.0,NaN,NaN,11,9,0,55,29,67,9,180,588.0,5.0,593.0,484.0,588.0,0.0,593.0,0.0,121.0,61.0,126.0,43.0,0.0,0.0,31.0,96.0,12.0,47.0,51.0,0.0,151.0,86.0,76.0,90.0,185.0,151.0,90.0,72,81,52,271,18,NaN,NaN,NaN,72
3,72147,2014-01-01,8771,2470,4332,4439,43.6,288,274,219,64,47,61,0,249,255,408,273,213,142,330,213,257,66,177,145,175,30,201,269,347,124,111,9,41,185,268,96,137,430,289,316,431,182,27,22,191,325,140,44,254,498,NaN,8636,NaN,NaN,7042.0,6282,4456.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,8247,0,0,26,8247,524,0,0,20,273,404,638,68,21,15539.0,11156.0,712.0,490.0,211.0,202.0,138.0,204.0,89.0,194.0,26.0,44.0,109.0,10.0,31.0,10.0,0.0,0.0,8725.0,3600.0,0.4542,4934,657.0,84700.0,104200.0,231700.0,2470,678,2464,184,211,4010,672,18,168,40,0,0,0,26,0,168,147,1978,772,1120,1350,969.0,0,0,1786,733,473.0,28.8,294.0,166.0,0.0,6.0,12.0,32.0,67.0,50.0,24.0,27.0,1792,27,96,NaN,NaN,580.0,270.0,94.0,176.0,0.0,0.0,310.0,78.0,78.0,209.0,1156.0,773.0,171.0,19.0,25.0,0.0,39.0,0.0,2392.0,120.0,95.0,203.0,617.0,1093.0,668.0,92.0,0.0,NaN,0.0,0.0,2272.0,340.0,0.0,1932.0,0,580,933,2227,25,168,462,NaN,NaN,NaN,1107.0,NaN,NaN,309,120,46,134,101,329,92,1131,2487.0,435.0,2922.0,4120.0,2487.0,0.0,2922.0,14.0,382.0,220.0,383.0,98.0,0.0,62.0,24.0,536.0,135.0,469.0,164.0,0.0,609.0,250.0,171.0,423.0,1034.0,609.0,423.0,435,441,248,1497,163,NaN,NaN,NaN,72
4,72071,2014-01-01,42420,15012,20629,21791,41.6,898,1159,1381,877,580,338,194,974,1333,1185,1270,1513,1404,1385,1441,405,690,1075,688,339,401,873,1124,1218,826,550,327,207,816,1353,1265,1349,1549,1550,1566,1244,771,880,442,677,1309,609,669,617,394,NaN,41349,NaN,NaN,35266.0,30078,22157.0,NaN,NaN,NaN,NaN,NaN,NaN,98,0,41825,0,103,0,41825,595,0,0,237,192,2772,2447,0,81,16748.0,9228.0,4715.0,2149.0,1727.0,1175.0,1066.0,793.0,762.0,471.0,534.0,706.0,312.0,358.0,104.0,65.0,21.0,54.0,42161.0,23156.0,0.4976,20391,464.0,82600.0,105300.0,154100.0,15012,5735,5379,426,406,16199,2592,227,420,330,288,216,63,56,99,519,314,1981,6101,4336,10676,6959.0,20,0,8356,3893,338.0,32.2,3133.0,896.0,187.0,64.0,272.0,187.0,328.0,295.0,290.0,83.0,9277,14,3173,NaN,NaN,2032.0,940.0,653.0,269.0,0.0,18.0,1092.0,124.0,90.0,1404.0,1753.0,1761.0,1768.0,731.0,1217.0,341.0,951.0,631.0,10557.0,220.0,72.0,276.0,2012.0,6650.0,4698.0,1305.0,347.0,264500.0,54.0,0.0,10246.0,1074.0,35.0,9172.0,324,2475,4690,8447,129,1674,3248,NaN,NaN,NaN,5562.0,NaN,NaN,325,600,375,1067,548,2020,394,5329,10784.0,2439.0,13235.0,22031.0,10629.0,12.0,13223.0,157.0,1087.0,684.0,2707.0,411.0,89.0,746.0,686.0,961.0,1609.0,998.0,423.0,226.0,3246.0,1155.0,1326.0,2725.0,2332.0,3246.0,2725.0,1996,2057,2211,10099,2551,NaN,NaN,NaN,72

In [75]:
#data_county_age_race['county'] = data_county_age_race['geo_id'].astype(str).str[:-3].astype(np.int64)
#data_county_age_race['county'] = data_county_age_race.apply(lambda x: x['geo_id'][:-3])
#data_county_age_race['county'] = [x[:-4] for x in data_county_age_race['geo_id']]

data_county_age_race['county'] = data_county_age_race['geo_id'][:3]

In [76]:
data_county_age_race.head()

,geo_id,do_date,total_pop,households,male_pop,female_pop,median_age,male_under_5,male_5_to_9,male_10_to_14,male_15_to_17,male_18_to_19,male_20,male_21,male_22_to_24,male_25_to_29,male_30_to_34,male_35_to_39,male_40_to_44,male_45_to_49,male_50_to_54,male_55_to_59,male_65_to_66,male_67_to_69,male_70_to_74,male_75_to_79,male_80_to_84,male_85_and_over,female_under_5,female_5_to_9,female_10_to_14,female_15_to_17,female_18_to_19,female_20,female_21,female_22_to_24,female_25_to_29,female_30_to_34,female_35_to_39,female_40_to_44,female_45_to_49,female_50_to_54,female_55_to_59,female_60_to_61,female_62_to_64,female_65_to_66,female_67_to_69,female_70_to_74,female_75_to_79,female_80_to_84,female_85_and_over,white_pop,population_1_year_and_over,population_3_years_over,pop_5_years_over,pop_15_and_over,pop_16_over,pop_25_years_over,pop_25_64,pop_never_married,pop_now_married,pop_separated,pop_widowed,pop_divorced,not_us_citizen_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,two_or_more_races_pop,hispanic_any_race,not_hispanic_pop,asian_male_45_54,asian_male_55_64,black_male_45_54,black_male_55_64,hispanic_male_45_54,hispanic_male_55_64,white_male_45_54,white_male_55_64,median_income,income_per_capita,income_less_10000,income_10000_14999,income_15000_19999,income_20000_24999,income_25000_29999,income_30000_34999,income_35000_39999,income_40000_44999,income_45000_49999,income_50000_59999,income_60000_74999,income_75000_99999,income_100000_124999,income_125000_149999,income_150000_199999,income_200000_or_more,pop_determined_poverty_status,poverty,gini_index,housing_units,renter_occupied_housing_units_paying_cash_median_gross_rent,owner_occupied_housing_units_lower_value_quartile,owner_occupied_housing_units_median_value,owner_occupied_housing_units_upper_value_quartile,occupied_housing_units,housing_units_renter_occupied,vacant_housing_units,vacant_housing_units_for_rent,vacant_housing_units_for_sale,dwellings_1_units_detached,dwellings_1_units_attached,dwellings_2_units,dwellings_3_to_4_units,dwellings_5_to_9_units,dwellings_10_to_19_units,dwellings_20_to_49_units,dwellings_50_or_more_units,mobile_homes,housing_built_2005_or_later,housing_built_2000_to_2004,housing_built_1939_or_earlier,median_year_structure_built,married_households,nonfamily_households,family_households,households_public_asst_or_food_stamps,male_male_households,female_female_households,children,children_in_single_female_hh,median_rent,percent_income_spent_on_rent,rent_burden_not_computed,rent_over_50_percent,rent_40_to_50_percent,rent_35_to_40_percent,rent_30_to_35_percent,rent_25_to_30_percent,rent_20_to_25_percent,rent_15_to_20_percent,rent_10_to_15_percent,rent_under_10_percent,owner_occupied_housing_units,million_dollar_housing_units,mortgaged_housing_units,different_house_year_ago_different_city,different_house_year_ago_same_city,families_with_young_children,two_parent_families_with_young_children,two_parents_in_labor_force_families_with_young_children,two_parents_father_in_labor_force_families_with_young_children,two_parents_mother_in_labor_force_families_with_young_children,two_parents_not_in_labor_force_families_with_young_children,one_parent_families_with_young_children,father_one_parent_families_with_young_children,father_in_labor_force_one_parent_families_with_young_children,commute_less_10_mins,commute_10_14_mins,commute_15_19_mins,commute_20_24_mins,commute_25_29_mins,commute_30_34_mins,commute_35_44_mins,commute_60_more_mins,commute_45_59_mins,commuters_16_over,walked_to_work,worked_at_home,no_car,no_cars,one_car,two_cars,three_cars,four_more_cars,aggregate_travel_time_to_work,commuters_by_public_transportation,commuters_by_bus,commuters_by_car_truck_van,commuters_by_carpool,commuters_by_subway_or_elevated,commuters_drove_alone,group_quarters,associates_degree,bachelors_degree,high_school_diploma,less_one_year_college,masters_degree,one_year_more_college,less_than_high_school_graduate,high_school_including_ged,bachelors_degree_2,bachelors_degree_or_higher_25_64,graduate_professional_degree,some_college_and_associates_degree,male_45_64_associates_degree,male_45_64_bachelors_degree,male_45_64_graduate_degree,male_45_64_less_than_9_grade,male_45_64_grade_9_12,male_45_64_high_school,male_45_64_some_college,male_45_to_64,employed_pop,unemployed_pop,pop_in_labor_force,not_in_labor_force,workers_16_and_over,armed_forces,civilian_labor_force,employed_agriculture_forestry_fishing_hunting_mining,employed_arts_entertainment_recreation_accommodation_food,employed_construction,employed_education_health_social,employed_finance_insurance_real_estate,employed_information,employed_manufacturing,employed_other_services_not_public_admin,employed_public_administration,employed_retail_trade,employed_science_management_admin_waste,employed_transportation_warehousing_utilities,employed_wholesale_trade,occupation_management_arts,occupation_natural_resources_construction_maintenance,occupation_production_transportation_material,occupation_sales_office,occupation_services,management_business_sci_arts_employed,sales_office_employed,in_grades_1_to_4,in_grades_5_to_8,in_grades_9_to_12,in_school,in_undergrad_college,speak_only_english_at_home,speak_spanish_at_home,speak_spanish_at_home_low_english,county
0,35039,2014-01-01,39307,12398,19250,20057,40.6,1224,1240,1278,846,488,381,182,602,1172,1116,971,1231,1147,1300,1225,504,717,815,462,424,347,1404,1309,1237,780,528,194,186,781,1123,1140,1291,887,1182,1312,1494,512,883,747,680,710,577,642,458,4910,NaN,37681,NaN,NaN,NaN,26647,NaN,NaN,NaN,NaN,NaN,NaN,895.0,164,185,28046,5594,181,222,28046,11261,8,19,0,27,1778,1933,320,523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20044,621.0,102000.0,164800.0,272900.0,12398,2850,7646,370,362,11225,238,362,195,125,1,61,5,7770,98,187,778,1980,4867,5092,7306,NaN,11,44,9318,3358,444.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9548,110,3153,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,654,2305,3336,7199,2772,1319,4650,NaN,NaN,NaN,NaN,NaN,NaN,359,480,280,228,389,1860,1654,5250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2170,1985,1970,9260,1653,NaN,NaN,NaN,35039.0
1,72001,2014-01-01,18181,5861,8862,9319,40.9,443,479,659,388,183,92,106,509,583,514,476,524,572,618,694,283,375,248,277,187,142,440,594,530,375,246,103,165,315,573,569,532,599,613,649,571,322,405,218,341,411,273,262,213,52,NaN,17702,NaN,NaN,14771.0,12554,9324.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,18123,6,0,0,18123,58,0,0,5,11,1165,1204,25,0,12902.0,7126.0,2423.0,923.0,557.0,298.0,368.0,278.0,331.0,155.0,129.0,166.0,140.0,46.0,23.0,0.0,19.0,5.0,18125.0,11325.0,0.5259,7594,363.0,50400.0,85200.0,125500.0,5861,2670,1733,61,26,6244,794,67,154,174,99,16,17,29,73,73,145,1982,2464,1667,4194,3122.0,0,0,3908,1810,281.0,30.6,1570.0,325.0,125.0,7.0,106.0,105.0,136.0,134.0,134.0,28.0,3191,0,566,NaN,NaN,1071.0,444.0,254.0,190.0,0.0,0.0,627.0,182.0,182.0,562.0,448.0,613.0,236.0,23.0,609.0,293.0,517.0,382.0,3683.0,145.0,70.0,159.0,1031.0,2925.0,1381.0,361.0,163.0,NaN,0.0,0.0,3494.0,170.0,0.0,3324.0,77,923,1864,3013,190,288,1488,NaN,NaN,NaN,1912.0,NaN,NaN,93,233,41,521,397,846,263,2394,3795.0,2370.0,6165.0,8606.0,3753.0,0.0,6165.0,227.0,364.0,225.0,1196.0,110.0,19.0,265.0,148.0,497.0,375.0,173.0,174.0,22.0,1299.0,373.0,515.0,710.0,898.0,1299.0,710.0,823,943,998,4406,1017,NaN,NaN,NaN,72001.0
2,72049,2014-01-01,1314,475,676,638,42.8,38,48,41,28,10,0,0,22,60,53,20,31,18,78,13,17,6,37,34,35,16,18,39,42,11,6,8,18,10,85,65,21,21,39,28,46,14,25,16,23,29,40,7,27,97,NaN,1291,NaN,NaN,1077.0,975,688.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1211,6,0,0,1211,103,3,0,0,8,96,78,0,6,23802.0,11830.0,92.0,87.0,31.0,39.0,18.0,67.0,36.0,23.0,14.0,26.0,19.0,23.0,0.0,0.0,0.0,0.0,1291.0,541.0,0.4175,1541,497.0,70600.0,113500.0,237500.0,475,173,1066,256,29,914,245,38,234,28,4,52,0,26,9,55,15,1995,138,219,256,158.0,6,0,265,85,428.0,26.3,69.0,15.0,9.0,8.0,8.0,16.0,13.0,9.0,26.0,0.0,302,8,16,NaN,NaN,66.0,7.0,0.0,7.0,0.0,0.0,59.0,13.0,13.0,148.0,299.0,39.0,40.0,0.0,17.0,0.0,9.0,0.0,552.0,93.0,36.0,66.0,120.0,216.0,112.0,4.0,23.0,NaN,0.0,0.0,450.0,118.0,0.0,332.0,0,101,113,342,0,26,74,NaN,NaN,NaN,86.0,NaN,NaN,11,9,0,55,29,67,9,180,588.0,5.0,593.0,484.0,588.0,0.0,593.0,0.0,121.0,61.0,126.0,43.0,0.0,0.0,31.0,96.0,12.0,47.0,51.0,0.0,151.0,86.0,76.0,90.0,185.0,151.0,90.0,72,81,52,271,18,NaN,NaN,NaN,72049.0
3,72147,2014-01-01,8771,2470,4332,4439,43.6,288,274,219,64,47,61,0,249,255,408,273,213,142,330,213,257,66,177,145,175,30,201,269,347,124,111,9,41,185,268,96,137,430,289,316,431,182,27,22,191,325,140,44,254,498,NaN,8636,NaN,NaN,7042.0,6282,4456.0,NaN,NaN,NaN,NaN,NaN,NaN,0,0,8247,0,0,26,8247,524,0,0,20,273,404,638,68,21,15539.0,11156.0,712.0,490.0,211.0,202.0,138.0,204.0,89.0,194.0,26.0,44.0,109.0,10.0,31.0,10.0,0.0,0.0,8725.0,3600.0,0.4542,4934,657.0,84700.0,104200.0,231700.0,2470,678,2464,184,211,4010,672,18,168,40,0,0,0,26,0,168,147,1978,772,1120,1350,969.0,0,0,1786,733,473.0,28.8,294.0,166.0,0.0,6.0,12.0,32.0,67.0,50.0,24.0,27.0,1792,27,96,NaN,NaN,580.0,270.0,94.0,176.0,0.0,0.0,310.0,78.0,78.0,209.0,1156.0,773.0,171.0,19.0,25.0,0.0,39.0,0.0,2392.0,120.0,95.0,203.0,617.0,1093.0,668.0,92.0,0.0,NaN,0.0,0.0,2272.0,340.0,0.0,1932.0,0,580,933,2227,25,168,462,NaN,NaN,NaN,1107.0,NaN,NaN,309,120,46,134,101,329,92,1131,2487.0,435.0,2922.0,4120.0,2487.0,0.0,2922.0,14.0,382.0,220.0,383.0,98.0,0.0,62.0,24.0,536.0,135.0,469.0,164.0,0.0,609.0,250.0,171.0,423.0,1034.0,609.0,423.0,435,441,248,1497,163,NaN,NaN,NaN,NaN
4,72071,2014-01-01,42420,15012,20629,21791,41.6,898,1159,1381,877,580,338,194,974,1333,1185,1270,1513,1404,1385,1441,405,690,1075,688,339,401,873,1124,1218,826,550,327,207,816,1353,1265,1349,1549,1550,1566,1244,771,880,442,677,1309,609,669,617,394,NaN,41349,NaN,NaN,35266.0,30078,22157.0,NaN,NaN,NaN,NaN,NaN,NaN,98,0,41825,0,103,0,41825,595,0,0,237,192,2772,2447,0,81,16748.0,9228.0,4715.0,2149.0,1727.0,1175.0,1066.0,793.0,762.0,471.0,534.0,706.0,312.0,358.0,104.0,65.0,21.0,54.0,42161.0,23156.0,0.4976,20391,464.0,82600.0,105300.0,154100.0,15012,5735,5379,426,406,16199,2592,227,420,330,288,216,63,56,99,519,314,1981,6101,4336,10676,6959.0,20,0,8356,3893,338.0,32.2,3133.0,896.0,187.0,64.0,272.0,187.0,328.0,295.0,290.0,83.0,9277,14,3173,NaN,NaN,2032.0,940.0,653.0,269.0,0.0,18.0,1092.0,124.0,90.0,1404.0,1753.0,1761.0,1768.0,731.0,1217.0,341.0,951.0,631.0,10557.0,220.0,72.0,276.0,2012.0,6650.0,4698.0,1305.0,347.0,264500.0,54.0,0.0,10246.0,1074.0,35.0,9172.0,324,2475,4690,8447,129,1674,3248,NaN,NaN,NaN,5562.0,NaN,NaN,325,600,375,1067,548,2020,394,5329,10784.0,2439.0,13235.0,22031.0,10629.0,12.0,13223.0,157.0,1087.0,684.0,2707.0,411.0,89.0,746.0,686.0,961.0,1609.0,998.0,423.0,226.0,3246.0,1155.0,1326.0,2725.0,2332.0,3246.0,2725.0,1996,2057,2211,10099,2551,NaN,NaN,NaN,NaN

In [78]:
data_county_age_race.shape

(3220, 241)

In [100]:
%ls

County_level_total.csv
County_pop.csv
Datathon.ipynb
Datathon1.ipynb
Safegraph-Starbucks-Demo - Databricks.html
data_county_age_race.csv
safegraph_open_census_data/
uscities.csv*
uszips.csv*
weekly-patterns-4-26-2020-CT.csv
weekly-patterns-4-26-2020-NH.csv
weekly-patterns-4-26-2020-RI.csv

In [101]:
weekly_patterns_CT = pd.read_csv('weekly-patterns-4-26-2020-CT.csv')

weekly_patterns_NH  = pd.read_csv('weekly-patterns-4-26-2020-NH.csv')
weekly_patterns_RI = pd.read_csv('weekly-patterns-4-26-2020-RI.csv')

In [102]:
weekly_patterns_CT.head()

,Unnamed: 0,safegraph_place_id,location_name,region,postal_code,naics_code,raw_visit_counts,median_dwell,bucketed_dwell_times,latitude,longitude,state,stateFIPS,countyFIPS,countyName,CBGFIPS
0,110,sg:03cf51aca5424a50add1aa9f026cbc06,Mobil,CT,6810,447110.0,22,10.5,"{""<5"":1,""5-20"":13,""21-60"":4,""61-240"":2,"">240"":2}",41.399047,-73.433857,CT,9.0,9001.0,Fairfield County,9.001210e+10
1,119,sg:042412fca26944bebde7b45b661a89c0,Barney Library,CT,6032,519120.0,6,120.5,"{""<5"":0,""5-20"":2,""21-60"":0,""61-240"":4,"">240"":0}",41.720860,-72.829212,CT,9.0,9003.0,Hartford County,9.003460e+10
2,169,sg:053d8cb61f784841b6af19b26b3c224c,Pops Exhaust,CT,6042,811111.0,3,32.0,"{""<5"":0,""5-20"":1,""21-60"":1,""61-240"":1,"">240"":0}",41.804612,-72.533725,CT,9.0,9003.0,Hartford County,9.003514e+10
3,193,sg:063ae966c79145789c2bcdb8948b0b3e,Hartford HealthCare Medical Group,CT,6790,621111.0,5,59.0,"{""<5"":0,""5-20"":1,""21-60"":2,""61-240"":2,"">240"":0}",41.792353,-73.133997,CT,9.0,9005.0,Litchfield County,9.005311e+10
4,248,sg:07b288bc9c154054bdf7f42d50c4f115,Living Faith Christian Church,CT,6702,813110.0,2,28.5,"{""<5"":0,""5-20"":0,""21-60"":2,""61-240"":0,"">240"":0}",41.558701,-73.041470,CT,9.0,9009.0,New Haven County,9.009350e+10

In [103]:
weekly_patterns_CT.shape

(39800, 16)

In [104]:
weekly_patterns_NH.head()

,Unnamed: 0,safegraph_place_id,location_name,region,postal_code,naics_code,raw_visit_counts,median_dwell,bucketed_dwell_times,latitude,longitude,state,stateFIPS,countyFIPS,countyName,CBGFIPS
0,26,sg:00f6792e8a084dd7965b54d3793f4147,Dragon Palace,NH,3465,722511.0,5,12.0,"{""<5"":0,""5-20"":4,""21-60"":0,""61-240"":1,"">240"":0}",42.831217,-72.184747,NH,33.0,33005.0,Cheshire County,3.300597e+11
1,400,sg:0c68fa3725874bfd9a28fa0fbff44e45,Aroma Joe's,NH,3867,722511.0,65,7.0,"{""<5"":2,""5-20"":41,""21-60"":6,""61-240"":8,"">240"":8}",43.328176,-71.003428,NH,33.0,33017.0,Strafford County,3.301708e+11
2,1040,sg:21520b57122c4be3bd2bab33c06bc2c8,Cristy's Pizza,NH,3842,722511.0,28,10.0,"{""<5"":1,""5-20"":22,""21-60"":3,""61-240"":0,"">240"":2}",42.904312,-70.814406,NH,33.0,33015.0,Rockingham County,3.301507e+11
3,2240,sg:48d5e48447a04006989acd98fd020df0,St Nicholas Orthodox Church,NH,3104,813110.0,3,16.0,"{""<5"":0,""5-20"":2,""21-60"":0,""61-240"":1,"">240"":0}",42.994937,-71.409024,NH,33.0,33011.0,Hillsborough County,3.301100e+11
4,2965,sg:6093b45eaa564ab680b9df1fbdb5a0a1,Tire Warehouse,NH,3833,441310.0,6,35.0,"{""<5"":0,""5-20"":1,""21-60"":3,""61-240"":2,"">240"":0}",42.995528,-70.972711,NH,33.0,33015.0,Rockingham County,3.301506e+11

In [105]:
weekly_patterns_NH.shape

(16471, 16)

In [106]:
%ls

County_level_total.csv
County_pop.csv
Datathon.ipynb
Datathon1.ipynb
Safegraph-Starbucks-Demo - Databricks.html
data_county_age_race.csv
patterns_by_cty_week_industry.xlsx
patterns_by_cty_week_industry_deaths.xlsx
patterns_cty_week_overall_deaths_ses.xlsx
safegraph_open_census_data/
uscities.csv*
uszips.csv*
weekly-patterns-4-26-2020-CT.csv
weekly-patterns-4-26-2020-NH.csv
weekly-patterns-4-26-2020-RI.csv

In [109]:
patterns_by_city_industry = pd.read_excel('patterns_by_cty_week_industry.xlsx')

patterns_by_city_industry_deaths  = pd.read_excel('patterns_by_cty_week_industry_deaths.xlsx')
patterns_by_city_industrry_deaths_SES = pd.read_excel('patterns_cty_week_overall_deaths_ses.xlsx')

In [110]:
patterns_by_city_industry.head()

        date   county state  business_type  raw_visit_counts  median_dwell
0 2020-03-01  Bristol    RI  Entertainment              1646     54.137257
1 2020-03-01  Bristol    RI           Food              3620     71.675575
2 2020-03-01  Bristol    RI          Other              6810     89.912498
3 2020-03-01  Bristol    RI         Retail              4485     54.595238
4 2020-03-08  Bristol    RI  Entertainment              1558     52.807693

In [113]:
patterns_by_city_industry.shape

(468, 6)

In [111]:
patterns_by_city_industry_deaths.head()

,date,county,state,business_type,raw_visit_counts,median_dwell,cases,deaths,_merge
0,2020-03-08,Fairfield,CT,Entertainment,79134,50.666008,36,0,matched (3)
1,2020-03-08,Fairfield,CT,Food,120853,53.772430,36,0,matched (3)
2,2020-03-08,Fairfield,CT,Retail,157465,40.825397,36,0,matched (3)
3,2020-03-08,Fairfield,CT,Other,172322,98.531364,36,0,matched (3)
4,2020-03-15,Fairfield,CT,Other,90801,122.808876,526,13,matched (3)

In [114]:
patterns_by_city_industry_deaths.shape

(312, 9)

In [112]:
patterns_by_city_industrry_deaths_SES.head()

,date,county,state,visits,cases,deaths,median_dwell,total_pop,households,female_pop,median_age,pop_65over,white_pop,black_pop,asian_pop,hispanic_pop,amerindian_pop,other_race_pop,hispanic_any_race,median_income,poverty,less_than_high_school_graduate,visits_per10000,cases_per10000,deaths_per10000
0,2020-03-08,Fairfield,CT,529774,144,0,60.948799,944348,340491,484385,40.3,143419,588974,99412,49375,182653,1257,5416,182653,92969,81751,64890,5609.944824,1.524862,0.000000
1,2020-03-15,Fairfield,CT,307242,2104,52,77.483612,944348,340491,484385,40.3,143419,588974,99412,49375,182653,1257,5416,182653,92969,81751,64890,3253.482910,22.279922,0.550644
2,2020-03-15,Hartford,CT,219856,428,0,68.666962,894730,349064,460080,40.4,147260,553425,114565,46327,157785,1398,2673,157785,72321,97063,65170,2457.232910,4.783566,0.000000
3,2020-03-15,Litchfield,CT,41755,176,0,75.452026,183031,73987,92584,47.2,36456,162898,2863,3361,10941,305,179,10941,78314,12650,9986,2281.307617,9.615857,0.000000
4,2020-03-15,New Haven,CT,275147,388,0,68.566330,859339,329857,445028,40.1,142411,546120,106325,33850,151361,823,2240,151361,67128,98855,59205,3201.844727,4.515098,0.000000

In [115]:
patterns_by_city_industrry_deaths_SES.shape

(78, 25)

In [116]:
data =  pd.Panel(patterns_by_city_industrry_deaths_SES)

/Users/garbamoussa/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version
  """Entry point for launching an IPython kernel.

TypeError: Panel() takes no arguments

In [117]:
# creating an empty panel
import pandas as pd
import numpy as np

data = np.random.rand(2,4,5)

In [119]:
dataflair_mul = pd.MultiIndex(levels=[['one', 'two'], ['a', 'b']], codes=[[1, 0, 1, 0], [1, 1, 0, 0]])
#dataflair_dat = pd.DataFrame({'S1': [2, 3, 4, 5], 'S2': [6, 7, 8, 9]}, index=dataflair_mul)

In [127]:

#multi_index = pd.MultiIndex(levels=[patterns_by_city_industrry_deaths_SES['county']], codes=[patterns_by_city_industrry_deaths_SES['date']])

patterns_by_city_industrry_deaths_SES.index.set_levels(patterns_by_city_industrry_deaths_SES.index.get_level_values('county').astype(int),
                    level='county', verify_integrity=False, inplace=True)

AttributeError: 'RangeIndex' object has no attribute 'set_levels'